<h1>有什麼新鮮事</h1>

<% @tweets.each do |tweet| %>
  <div class="tweet-cell">
    <h5><%= link_to tweet.user.tag, user_path(tweet.user) %></h5>
    <hr>
    <p><%= simple_format(tweet.description) %></p>
    <% unless tweet.liked_users_count.zero? %>
      <p> <%= tweet.liked_users_count %> users like this tweet! </p>
    <% end %>
  </div>
<% end %>
